@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/typography";
.container{
    display: flex;
    margin: 10px 0 20px 0;
    border: 1px solid $color-light-700;
    border-radius: 4px;
    padding: 5px;
    justify-content: space-between;
    .block_info{
        display: flex;
        .container_info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 20px 25px 10px 20px;
            .info{
                display: flex;
                flex-direction: column;
                .title{
                    @include typography($font-size-xxl, $line-height-l, $font-weight-bold);
                    margin-bottom: 5px;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover{
                        color: $color-accent-700;
                        transition: 0.3s;
                    }
                }
                .number_order{
                    @include typography($font-size-xl, $line-height-l, $font-weight-h3-large);
                    color: $color-light-900;
                    margin-bottom: 5px;
                }
                .code{
                    @include typography($font-size-m, $line-height-l, $font-weight-bold);
                    margin-bottom: 5px;
                }
            }
        }
    }
}
