@import "src/styles/mixins";
@import "src/styles/typography";
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.back_container{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  .back{
    @include typography($font-size-m, $line-height-m, $font-weight-h3-large);
    transition: 0.3s;
    &:hover{
      font-size: 18px;
      transition: 0.3s;
    }
  };
}
