@import 'src/styles/mixins';
@import 'src/styles/colors';
@import 'src/styles/typography';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.label {
  font-size: 14px;
  color: $color-light-900;
}

.selectBox {
  cursor: pointer;
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;

  height: 36px;
  padding-left: 10px;

  line-height: $line-height-m;
  text-align: left;
  letter-spacing: 0;

  background-color: $color-dark-700;
  border: 1px solid $color-dark-100;
  border-radius: 2px;
  outline: none;
  box-shadow: none;

  &:focus {
    color: $color-light-100;
    background-color: $color-dark-500;
    border: 2px solid $color-accent-500;
  }

}
.selectBoxError {
  border-color: $color-danger-500;
  outline-color: $color-danger-500;
}
.errorWrap {
  color: $color-danger-500;
}

.line {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;

  padding: 6px 12px;

  line-height: $line-height-m;
  letter-spacing: 0;

  transition: 0.2s ease-out;

  &:hover{
    color: $color-accent-500;
    background-color: $color-dark-300;
  }
}
