@import "src/styles/mixins";
@import "src/styles/typography";
.container{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    .container_info{
        display: flex;
        flex-direction: column;
        padding: 20px 25px 10px 70px;
        .title{
            @include typography($font-size-xxl, $line-height-l, $font-weight-bold);
            margin-bottom: 15px;
            transition: 0.3s;
            .description{
                @include typography($font-size-m, $line-height-m, $font-weight-regular);
            }
        }
    }
    .button{
        height: 40px;
    }
}
.back_container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px;
    cursor: pointer;
    .back{
        @include typography($font-size-m, $line-height-m, $font-weight-h3-large);
        transition: 0.3s;
    :hover{
        font-size: 17px;
        transition: 0.3s;
    }
    }
}




