@import 'src/styles/colors';

.container{
  display: flex;
  flex-direction: column;
  .label {
    font-size: 14px;
    color: $color-light-900;
  }

  .input {
    all: unset;
    padding: 10px 14px;
    cursor: pointer;
    width: 95%;
    background-color: $color-dark-700;
    border: 1px solid $color-dark-300;
    border-radius: 2px;

  }
  .errorInput {
    border-color: $color-danger-500;
    outline-color: $color-danger-500;
  }
  .errorWrap {
    color: $color-danger-500;
  }

}



